<!doctype html>
<html ng-app>
<head>
	<link rel="stylesheet" href="inc/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/styles.css">
	<script src="inc/angular/angular.min.js"></script>
	<script type="text/javascript" >
		function MathCtrl($scope) {
			
			$scope.calculate = function() {
				$scope.result = $scope.x * $scope.x;
			};
			
		}
	</script>
</head>
<body>
	<div class="container main-content" ng-controller="MathCtrl">
		<input type="text" number ng-model="x" ><br/>
		<button class="btn" ng-click="calculate()">Kelti kvadratu</button>
		<p>Rezultatas: {{result}}</p>
	</div>
</body>
</html>
